[user]
	name = felipeap92
	email = felipeap92@gmail.com

[github]
  # https://github.com/blog/180-local-github-config
  user = felipeap92

# [url "git@github.com:"]
# 	insteadOf = https://github.com/

[color]
# ui = true is a superset of all the more specific color options
#  as documented at http://book.git-scm.com/5_customizing_git.html
# When set to always, always use colors in all git commands which are capable of colored output.
# When false, never. When set to true or auto, use colors only when the output is to the terminal.
# When more specific variables of color.* are set, they always take precedence over this setting.
# Defaults to false.
  ui = auto
  # diff = auto
  # status = auto
  # branch = auto

